{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-stylex-key-sort",
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ]
}
